<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/logo.png" type="image/x-icon">
    <title>ALLTIME REPAIR</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @keyframes upDown {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-10px);
            }

            100% {
                transform: translateY(10px);
            }
        }

        .limited-animation {
            animation: upDown 2s infinite alternate;
            animation-iteration-count: 6;
            /* Change this number to the desired number of iterations */
        }
    </style>
</head>
<body class="relative bg-neutral-950 max-w-7xl mx-auto border">

    <header>
        <%- include('../partials/header'); %>
    </header>
    
</body>
</html>