<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <title>ALLTIME REPAIR</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @keyframes upDown {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-10px);
            }

            100% {
                transform: translateY(10px);
            }
        }

        .limited-animation {
            animation: upDown 2s infinite alternate;
            animation-iteration-count: 6;
            /* Change this number to the desired number of iterations */
        }
    </style>
</head>

<body class="relative bg-neutral-950 max-w-7xl mx-auto border">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <section class="text-center text-neutral-50 px-8 my-10 lg:mt-20 gap-12">
        <div class="flex items-center justify-center space-x-4 md:hidden">
            <a href="tel:+19253074213"
                class="text-neutral-100 px-5 py-2 text-lg font-medium bg-neutral-800 rounded-sm hover:bg-lime-800 transition-colors flex items-center">
                <span class="material-icons mr-2">phone</span>Call Us
            </a>
            <a href="mailto:alltimerepair01@gmail.com"
                class="text-neutral-100 px-5 py-2 text-lg font-medium bg-neutral-800 rounded-sm hover:bg-lime-800 transition-colors flex items-center">
                <span class="material-icons mr-2">email</span>Mail Us
            </a>
        </div>
        <div class="text-2xl mt-8 md:hidden">OR</div>
        <form action="#" method="POST" class="space-y-4 flex flex-col items-center gap-4">
            <div class="flex lg:flex-row flex-col justify-center items-center gap-8">
                <div class="flex flex-col justify-center items-center gap-8">
                    <div class="flex flex-col justify-center items-start gap-2">
                        <label class="text-white text-lg font-bold">Name</label>
                        <input type="text"
                            class="bg-neutral-800 text-white text-lg lg:w-100 w-80 lg:h-15 px-4 py-2 border border-neutral-500 rounded-sm"
                            required>
                    </div>
                    <div class="flex flex-col justify-center items-start gap-2">
                        <label class="text-white text-lg font-bold">Email</label>
                        <input type="text"
                            class="bg-neutral-800 text-white text-lg lg:w-100 w-80 lg:h-15 px-4 py-2 border border-neutral-500 rounded-sm"
                            required>
                    </div>
                    <div class="flex flex-col justify-center items-start gap-2">
                        <label class="text-white text-lg font-bold">Contact Number</label>
                        <input type="text"
                            class="bg-neutral-800 text-white text-lg lg:w-100 w-80 lg:h-15 px-4 py-2 border border-neutral-500 rounded-sm"
                            required>
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center gap-9">
                    <div class="flex flex-col justify-center items-start gap-2">
                        <label class="text-white text-lg font-bold">Company Name</label>
                        <input type="text"
                            class="bg-neutral-800 text-white text-lg lg:w-100 w-80 lg:h-15 px-4 py-2 border border-neutral-500 rounded-sm"
                            required>
                    </div>
                    <div class="flex flex-col justify-center items-start gap-2">
                        <label class="text-white text-lg font-bold">Message</label>
                        <textarea
                            class="bg-neutral-800 text-white text-lg lg:w-100 w-80 px-4 py-2 border border-neutral-500 rounded-sm"
                            rows="6" required></textarea>
                    </div>
                </div>
            </div>
            <button type="submit"
                class="w-50 bg-lime-600 text-white font-bold py-2 rounded-sm hover:bg-lime-700 transition">Send
                Message</button>
        </form>
    </section>
</body>

</html>