<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <title>ALLTIME REPAIR</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="relative bg-neutral-950 max-w-7xl mx-auto border">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <section class="flex flex-col items-center text-center text-white px-8 py-10 gap-10">
            <h1 class="text-3xl lg:text-4xl font-bold">Mobile Truck Repair</h1>
            <img src="/img/MobileTruckRepair.jpeg" alt="Mobile Truck Repair" class="h-100 object-cover rounded-lg">
            <div class="text-left max-w-3xl mx-auto">
                <p class="text-lg leading-relaxed mb-6">
                    At ALLTIME REPAIR, we offer convenient mobile repair services to address your truck's maintenance needs on the go. Our experienced technicians come to you, equipped with the tools and parts necessary to perform repairs at your location, saving you time and hassle.
                </p>
                <p class="text-lg leading-relaxed mb-6">
                    Whether you're on the road or at your job site, our mobile repair services ensure your truck stays operational without the need for a trip to the shop. We handle everything from minor repairs to major maintenance, ensuring minimal downtime for your vehicle.
                </p>
                <p class="text-lg leading-relaxed mb-6">
                    Trust ALLTIME REPAIR for reliable and efficient mobile truck repair services, keeping your fleet on the move and your business running smoothly.
                </p>
            </div>
        </section>
    </main>

</body>
</html>